.bg-container-sign-in {
    height: 100vh;
    display: flex;
}

.left-box-sigin {
    
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.right-box-sigin {
    
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.role-toggle {
  display: flex;
  background: #f1f5f9;
  border-radius: 12px;
  padding: 4px;
}

.role-btn {
  flex: 1;
  border: none;
  background: transparent;
  padding: 10px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}

.role-btn.active {
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


.signin-right-image {
    width: 500px;
}

.accelerate-your-growth {
    font-size: 25px;
    font-weight: 800;
}
.sigin-description {
    font-size: 18px;
    font-weight: 500;
    color: #949494;
    margin-top: 8px;
}
.welcome-back {
    font-size: 25px;
    font-weight: 700;
    margin-top: 15px;
}
.sigin-to-your-acc {
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
    color: #949494;
}